<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sgg.qin.dao.systems.SysRolesMapper">
  <resultMap id="BaseResultMap" type="sgg.qin.domain.systems.SysRoles">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="locked" jdbcType="BIT" property="locked" />
  </resultMap>
</mapper>